@font-face {
    font-family: 'PTSans';
    src: url(font/PTSans-Regular.woff);
}

* {
    outline: 0;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 18px;
    overflow: scroll;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    background-color: #161616;
    color: #f4f4f4;
    font-family: 'PTSans';
}

.header svg {
    position: absolute;
    top: 20px;
    left: 20px;
}

.header svg path {
    fill: #083ABB;
}

.header svg:hover path {
    fill: #f4f4f4;
    transition: fill 0.5s ease-in-out;
}

.header h1 {
    text-align: center;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    font-size: 1.2em;
    text-transform: uppercase;
}

.wrapper {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%);
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
}

iframe {
    width: 960px;
    height: 515px;
}

@media screen and (max-width: 796px) {
    
    iframe {
        width: 450px;
        height: 250px;
    }
}